* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
}

#AsherProfile * {
  color: #222222;
}

#AsherProfile {
  background: linear-gradient(
    90deg,
    #ffd700 0%,
    #ffc300 25%,
    #ffb000 50%,
    #cc9900 75%,
    #ffd700 100%
  );
}

#AsherProfile div {
  background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a9a9a9);
  color: rgba(0, 0, 0, 0);
}

#AsherProfile ul {
  background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a9a9a9);
}

#AsherProfile a {
  background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a9a9a9);
}

h1 {
  text-align: center;
  padding: 1%;
  font-size: 4rem;
  margin: 2% 0% 0% 0%;
  color: rgb(71, 6, 6);
}

body {
  background-color: rgb(186, 186, 201);
}

main {
  margin: -2%;
  padding: 1%;
}

.profile-card {
  background-color: rgb(71, 6, 6);
  box-shadow: 10px 10px black;
  position: relative;
  width: 28%;
  border-radius: 20px 20px;
  overflow: hidden;
  display: inline-block;
  margin: 2%;
  padding: 1%;
  transition: 0.5s ease;
}

div.profile-card img {
  width: 90%;
  border-radius: 20px 20px;
  margin: 5%;
  padding: 0px;
}

div.profile-card div.ribbon1 {
  position: absolute;
  top: 2%;
  right: -8%;
  background-color: rgb(107, 23, 23);
  color: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
  border-radius: 24px;
}

div.profile-card div.ribbon2 {
  position: absolute;
  bottom: 1%;
  right: -8%;
  background-color: rgb(107, 23, 23);
  color: rgba(0, 0, 0, 0);
  transform: rotate(135deg);
  border-radius: 24px;
}

div.profile-card div.ribbon3 {
  position: absolute;
  top: 2%;
  left: -8%;
  background-color: rgb(107, 23, 23);
  color: rgba(0, 0, 0, 0);
  transform: rotate(-45deg);
  border-radius: 24px;
}

div.profile-card div.ribbon4 {
  position: absolute;
  bottom: 1%;
  left: -8%;
  background-color: rgb(107, 23, 23);
  color: rgba(0, 0, 0, 0);
  transform: rotate(225deg);
  border-radius: 24px;
}

div.profile-card h2 {
  text-align: center;
  padding: 2%;
  margin: 0px;
  line-height: 0px;
  font-size: 2rem;
}

div.profile-card p {
  margin: 5% 5% 5% 5%;
  flex-grow: 1;
}

div.profile-card a {
  text-align: center;
  background-color: rgb(107, 23, 23);
  margin: 4%;
  position: relative;
  text-decoration: none;
  border-radius: 16px;
  padding: 2%;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: scale(1.05);
  box-shadow: 18px 18px black;
}

div.profile-card a:hover {
  box-shadow: 5px 5px black;
}

ul {
  list-style-type: square;
  background-color: rgb(107, 23, 23);
  border-radius: 20px;
  margin: 4%;
}

li {
  padding: 1%;
}
